<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/assets/styles/style.css">
    <% include blocks/scripts.ejs %>
    <script src="/assets/scripts/getnews.js"></script>
    <title>Новости</title>
</head>
<body>
    <% include blocks/nav.ejs %>

    <div id="flex_container">
        <div id="header_of_news_page">
            Свежие новости
        </div>

        <% for(var key = ArrayNews[0].size - 1; key >= 0; key--) {%>

            <div class="news_blog">
                <span class="news_id" style="opacity: 0;"><%= key %></span>
                <img src=<%= ArrayNews[key].img %> alt="just_img" id="news_img" type="image/jpeg">
                <p id="news_title"><%= ArrayNews[key].title %></p>
                <p id="news_text"><%= ArrayNews[key].short %></p>
                <p id="news_date"><%= ArrayNews[key].date %></p>
                <p class="news_whole_text" style="display: none;"><%= ArrayNews[key].text %></p>
            </div>

        <% } %>
    </div>
</body>
</html>
